html,body{height: 100%}
.container-fluid{
	background: gray;
	opacity:0.5;
	height: 100%;
}
/*.login_content{
	width: 400px;
	height: 350px;
	background: #ffff00;
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}*/
.pop{
	height: 350px;
	background: #f00;
	width: 400px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}
.cols_001{
	

}