
/*icon*/
#wrap-icon{
	width:100%;
	background: #fff;	
}
#icon{
	
	height:100px;
	padding:0 10px;
	margin:0 auto;	
	width:1195px;
	font-size: 20px;
	color:#555;
	font-weight: bold;
	border:1px solid #e1cbb7;
	border-left:none;
	border-right:none;
}
#icon ul li{
	margin-top:10px;
	float: left;
	padding:0 30px;
	border-right:1px solid #e1cbb7;
}
#icon ul .last{
	border:none;
}
#icon ul li img{
	width: 55px;
	height: 55px;
	vertical-align: middle;
	margin-right:5px;
}
#icon ul li .pic3{
	width: 92px;
	height: 50px;
}
/*link--友情连接*/

#wrap-link{
	width:100%;
	background: #fff;	
}
#link{
	
	height:170px;
	padding:0 40px;
	margin:0 auto;	
	width:1135px;
	font-size: 12px;
	border-bottom:1px dashed #ddd;
	margin-top:50px;
}
	/*log*/
#link #log{
width: 160px;
height: 130px;

margin-right: 60px;
}

#link #log p{
font-size: 12px;
color:#969696;
margin-top: 30px;
}
#link #log p span{
color:#646464;
font-weight: bold;
display: block;
margin-bottom: 14px;
}
	/*nv*/
#link #nv{
width:600px;
height: 130px;

}
#link #nv ul{
width:150px;
height: 130px;
float: left;
}
#link #nv ul li{
line-height: 25px;
}
#link #nv ul h2{
	font-weight: lighter;
}
#link #nv ul h2 a{
color:#333;
font-size: 12px;
}
#link #nv ul li a{
color:#888888;
font-size: 12px;
}

	/*bn*/
#link #bn{
width:260px;
height: 130px;

}
#link #bn .con{
	margin-left:30px;
}
#link #bn dl{
width:110px;
height: 130px;

}

#link #bn dl dt{
color:#555;
margin-bottom: 6px;
}

#link #bn dl dd img{
width:110px;
height: 110px;
}
/*footer*/
#wrap-footer{
	width:100%;
	background: #fff;	
}
#footer{
	padding-top:20px;
	height:250px;
	margin:0 auto;	
	width:1215px;
	font-size: 12px;
	color:#999;
	
	text-align: center;
}

#footer ul{
	width: 690px;
	margin:0 auto;
	height: 100px;
	margin-bottom: 40px;
}
#footer ul a{
	font-size: 12px;
	color:#666;
	display: inline-block;
	margin-top: 8px;
	padding:0 10px;
	border-right:1px solid #a366a3;
}
#footer  .first,#footer .last{
	border: none;
}

#footer ul .first,#footer p a{
	color:#551a8b;

}


#footer ol a{
	font-size: 12px;
	color:#666;
	display: inline-block;
	margin-top: 18px;
	padding:0 10px;
	border-right:1px solid #a366a3;
	margin-bottom: 20px;
}

#footer .plast{
	margin-top: 10px;
}

